
.center {  
    text-align: center;
}
ul {
    list-style: inline;
    padding: 0;
}
img {
    display: inline;
    width: 200px;
    height: 100px;
}
#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
}

ul#horizontal-list li {
    display: inline;
    font-size: 60px;
    border: 1px solid black;
    padding: 0 25px;
    border-radius: 10%;
}
button#Go {
    background-color: #0DFD85;
    color: white;
    padding: 20px;
    border-radius: 100%;
    border: none;
    font-size: 16px;
}
button#Hint {
    background-color: #1F7FD8;
    color: white;
    padding: 10px 25px;
    border-radius: 10%;
    border: none;
    font-size: 16px;
}

button#Reset {
    background-color: #E9A237;
    color: white;
    padding: 10px 25px;
    border-radius: 10%;
    border: none;
    font-size: 16px;
}
